<h1>Listing residuals</h1>

<table>
  <tr>
    <th>Start month</th>
    <th>End month</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @residuals.each do |residual| %>
  <tr>
    <td><%= residual.start_month %></td>
    <td><%= residual.end_month %></td>
    <td><%= link_to 'Show', residual %></td>
    <td><%= link_to 'Edit', edit_residual_path(residual) %></td>
    <td><%= link_to 'Destroy', residual, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Residual', new_residual_path %>
