<p id="notice"><%= notice %></p>

<p>
  <b>Start month:</b>
  <%= @residual.start_month %>
</p>

<p>
  <b>End month:</b>
  <%= @residual.end_month %>
</p>


<%= link_to 'Edit', edit_residual_path(@residual) %> |
<%= link_to 'Back', residuals_path %>
